In [1]:
from __future__ import print_function
import time
import intrinio_sdk as intrinio
from intrinio_sdk.rest import ApiException
import pandas as pd

In [2]:
intrinio.ApiClient().set_api_key('OjNiM2ZlMmIzZTI5OTRmMTdmNmQwYWZiMDMyODNlMzk5')
intrinio.ApiClient().allow_retries(True)

In this notebook, indicators we used to generate a trading strategy are donchian channels and average directional index. And the stocks choseare spotify, microsoft and google

## SPOTIFY

In [3]:
identifier = 'SPOT'
start_date = '2018-01-01'
end_date = '2020-01-01'
frequency = 'daily'
page_size = 503
#page size set to 503 to collect the entire data for 2 years in one attempt. Could have used "next" function to collect the data in multiple rounds.
next_page = ''
spot_data = intrinio.SecurityApi().get_security_stock_prices(identifier, start_date=start_date, end_date=end_date, frequency=frequency, page_size=page_size, next_page=next_page)

In [4]:
dct1 = spot_data.to_dict()
df1 = pd.DataFrame.from_dict(dct1["stock_prices"])
df1

,date,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,adj_low,adj_close,adj_volume,factor,split_ratio,dividend,change,percent_change,fifty_two_week_high,fifty_two_week_low
0,2019-12-31,False,daily,149.12,150.21,147.55,149.55,769269.0,149.12,150.21,147.55,149.55,769269.0,1.0,1.0,0.0,-0.26,-0.0017,161.38,108.59
1,2019-12-30,False,daily,153.18,153.49,149.67,149.81,1038129.0,153.18,153.49,149.67,149.81,1038129.0,1.0,1.0,0.0,-3.36,-0.0219,161.38,108.59
2,2019-12-27,False,daily,152.62,154.00,152.51,153.17,920890.0,152.62,154.00,152.51,153.17,920890.0,1.0,1.0,0.0,0.65,0.0043,161.38,108.59
3,2019-12-26,False,daily,151.89,153.18,151.05,152.52,752651.0,151.89,153.18,151.05,152.52,752651.0,1.0,1.0,0.0,0.70,0.0046,161.38,108.59
4,2019-12-24,False,daily,150.63,153.01,150.02,151.82,1007977.0,150.63,153.01,150.02,151.82,1007977.0,1.0,1.0,0.0,1.40,0.0093,161.38,106.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2018-04-09,False,daily,149.50,151.00,148.59,150.00,2051432.0,149.50,151.00,148.59,150.00,2051432.0,1.0,1.0,0.0,2.08,0.0141,169.00,135.51
437,2018-04-06,False,daily,146.07,148.73,144.67,147.92,4228091.0,146.07,148.73,144.67,147.92,4228091.0,1.0,1.0,0.0,3.93,0.0273,169.00,135.51
438,2018-04-05,False,daily,149.23,152.41,141.25,143.99,7372840.0,149.23,152.41,141.25,143.99,7372840.0,1.0,1.0,0.0,-0.23,-0.0016,169.00,135.51
439,2018-04-04,False,daily,140.00,148.93,135.51,144.22,11702875.0,140.00,148.93,135.51,144.22,11702875.0,1.0,1.0,0.0,-4.79,-0.0321,169.00,135.51
440,2018-04-03,False,daily,165.90,169.00,148.26,149.01,30526507.0,165.90,169.00,148.26,149.01,30526507.0,1.0,1.0,0.0,NaN,NaN,169.00,148.26

In [5]:
period = 10
price_key = 'close'
start_date = '2018-01-01'
end_date = '2020-01-01'
page_size = 503
next_page = ''

spot_dc = intrinio.SecurityApi().get_security_price_technicals_dc(identifier, period=period, price_key=price_key, start_date=start_date, end_date=end_date, page_size=page_size, next_page=next_page)

In [6]:
dct3=spot_dc.to_dict()
spot_dc=pd.DataFrame.from_dict(dct3['technicals'])
spot_dc

                    date_time  lower_bound  upper_bound
0   2019-12-31 00:00:00+00:00       149.55       153.17
1   2019-12-30 00:00:00+00:00       149.68       153.17
2   2019-12-27 00:00:00+00:00       147.20       153.17
3   2019-12-26 00:00:00+00:00       147.20       152.52
4   2019-12-24 00:00:00+00:00       147.13       151.82
..                        ...          ...          ...
427 2018-04-20 00:00:00+00:00       144.32       158.45
428 2018-04-19 00:00:00+00:00       144.32       154.91
429 2018-04-18 00:00:00+00:00       143.99       154.91
430 2018-04-17 00:00:00+00:00       143.99       154.90
431 2018-04-16 00:00:00+00:00       143.99       154.90

[432 rows x 3 columns]

In [7]:
period = 14
start_date = '2018-01-01'
end_date = '2020-01-01'
page_size = 503
next_page = ''

spot_adx = intrinio.SecurityApi().get_security_price_technicals_adx(identifier, period=period, start_date=start_date, end_date=end_date, page_size=page_size, next_page=next_page)

In [8]:
dct = spot_adx.to_dict()
# dct["stock_prices"]
spot_adx = pd.DataFrame(dct['technicals'])
spot_adx

                    date_time        adx     di_neg     di_pos
0   2019-12-31 00:00:00+00:00  18.050919  25.034211  24.620828
1   2019-12-30 00:00:00+00:00  19.375412  21.299505  26.302918
2   2019-12-27 00:00:00+00:00  20.057302  15.982302  28.939457
3   2019-12-26 00:00:00+00:00  19.381416  16.584401  27.956417
4   2019-12-24 00:00:00+00:00  18.908319  17.457408  29.007916
..                        ...        ...        ...        ...
409 2018-05-16 00:00:00+00:00   9.856399  23.445076  31.899983
410 2018-05-15 00:00:00+00:00   9.439451  24.830048  31.371062
411 2018-05-14 00:00:00+00:00   9.270287  24.783481  33.486426
412 2018-05-11 00:00:00+00:00   8.834496  27.246443  28.662271
413 2018-05-10 00:00:00+00:00   9.319273  28.187701  29.652440

[414 rows x 4 columns]

Dropping repeated columns

In [9]:
spot=pd.concat([df1,spot_dc],axis=1)
spot=pd.concat([spot,spot_adx],axis=1)
spot
    
column_set = set()

# Create a list to keep track of columns to drop
columns_to_drop = []

# Iterate through columns
for col in spot.columns:
    # Convert the column data to a tuple to make it hashable
    col_data = tuple(spot[col])

    # Check if this column has the same data as a previous column
    if col_data in column_set:
        columns_to_drop.append(col)
    else:
        # Add the column data to the set
        column_set.add(col_data)

# Drop the duplicate columns
spot = spot.drop(columns=columns_to_drop)
spot

,date,intraperiod,frequency,open,high,low,close,volume,factor,change,percent_change,fifty_two_week_high,fifty_two_week_low,lower_bound,upper_bound,adx,di_neg,di_pos
0,2019-12-31,False,daily,149.12,150.21,147.55,149.55,769269.0,1.0,-0.26,-0.0017,161.38,108.59,149.55,153.17,18.050919,25.034211,24.620828
1,2019-12-30,False,daily,153.18,153.49,149.67,149.81,1038129.0,1.0,-3.36,-0.0219,161.38,108.59,149.68,153.17,19.375412,21.299505,26.302918
2,2019-12-27,False,daily,152.62,154.00,152.51,153.17,920890.0,1.0,0.65,0.0043,161.38,108.59,147.20,153.17,20.057302,15.982302,28.939457
3,2019-12-26,False,daily,151.89,153.18,151.05,152.52,752651.0,1.0,0.70,0.0046,161.38,108.59,147.20,152.52,19.381416,16.584401,27.956417
4,2019-12-24,False,daily,150.63,153.01,150.02,151.82,1007977.0,1.0,1.40,0.0093,161.38,106.78,147.13,151.82,18.908319,17.457408,29.007916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2018-04-09,False,daily,149.50,151.00,148.59,150.00,2051432.0,1.0,2.08,0.0141,169.00,135.51,NaN,NaN,NaN,NaN,NaN
437,2018-04-06,False,daily,146.07,148.73,144.67,147.92,4228091.0,1.0,3.93,0.0273,169.00,135.51,NaN,NaN,NaN,NaN,NaN
438,2018-04-05,False,daily,149.23,152.41,141.25,143.99,7372840.0,1.0,-0.23,-0.0016,169.00,135.51,NaN,NaN,NaN,NaN,NaN
439,2018-04-04,False,daily,140.00,148.93,135.51,144.22,11702875.0,1.0,-4.79,-0.0321,169.00,135.51,NaN,NaN,NaN,NaN,NaN
440,2018-04-03,False,daily,165.90,169.00,148.26,149.01,30526507.0,1.0,NaN,NaN,169.00,148.26,NaN,NaN,NaN,NaN,NaN

In [10]:
spot_dc_signals = []

for i in range(len(spot)):
    if float(spot['close'][i]) > float(spot['upper_bound'][i]):
        spot_dc_signals.append('Sell')
    elif float(spot['close'][i]) < float(spot['lower_bound'][i]):
        spot_dc_signals.append('Buy')
    else:
        spot_dc_signals.append('Hold')


spot_signals=pd.DataFrame()
spot_signals['dc'] = spot_dc_signals
spot_signals

       dc
0    Hold
1    Hold
2    Hold
3    Hold
4    Hold
..    ...
436  Hold
437  Hold
438  Hold
439  Hold
440  Hold

[441 rows x 1 columns]

In [11]:
adx_signals = []
adx_threshold = 25
di_threshold = 20

for i in range(len(spot)):
    try:
        adx_value = float(spot['adx'][i])
        di_pos_value = float(spot['di_pos'][i])
        di_neg_value = float(spot['di_neg'][i])

        if adx_value > adx_threshold and di_pos_value > di_neg_value and di_pos_value > di_threshold:
            adx_signals.append('Buy')
        elif adx_value > adx_threshold and di_neg_value > di_pos_value and di_neg_value > di_threshold:
            adx_signals.append('Sell')
        else:
            adx_signals.append('Hold')
    except ValueError:
        adx_signals.append('NaN')

# Create a new column 'adx' in your DataFrame and assign the signals
spot_signals['adx'] = adx_signals

# Now, 'adx' column contains the buy/sell signals, and 'NaN' for non-numeric values
# spot_signals['adx'].unique()
spot_signals['adx'].unique()

array(['Hold', 'Buy', 'Sell'], dtype=object)

In [12]:
spot_signals

       dc   adx
0    Hold  Hold
1    Hold  Hold
2    Hold  Hold
3    Hold  Hold
4    Hold  Hold
..    ...   ...
436  Hold  Hold
437  Hold  Hold
438  Hold  Hold
439  Hold  Hold
440  Hold  Hold

[441 rows x 2 columns]

## MICROSOFT

In [13]:
identifier = 'MSFT'
start_date = '2018-01-01'
end_date = '2020-01-01'
frequency = 'daily'
page_size = 503
#page size set to 503 to collect the entire data for 2 years in one attempt. Could have used "next" function to collect the data in multiple rounds.
next_page = ''
msft_data = intrinio.SecurityApi().get_security_stock_prices(identifier, start_date=start_date, end_date=end_date, frequency=frequency, page_size=page_size, next_page=next_page)

In [14]:
dct1 = msft_data.to_dict()
df1 = pd.DataFrame.from_dict(dct1["stock_prices"])
df1

,date,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,adj_low,adj_close,adj_volume,factor,split_ratio,dividend,change,percent_change,fifty_two_week_high,fifty_two_week_low
0,2019-12-31,False,daily,156.77,157.77,156.45,157.70,18393383.0,151.38,152.34,151.07,152.27,18393383.0,1.0,1.0,0.0,0.11,0.0007,154.06,92.49
1,2019-12-30,False,daily,158.99,159.02,156.73,157.59,16356720.0,153.52,153.55,151.34,152.17,16356720.0,1.0,1.0,0.0,-1.32,-0.0086,154.06,92.49
2,2019-12-27,False,daily,159.45,159.55,158.22,158.96,18414352.0,153.96,154.06,152.78,153.49,18414352.0,1.0,1.0,0.0,0.28,0.0018,154.06,92.49
3,2019-12-26,False,daily,157.56,158.73,157.40,158.67,14526927.0,152.14,153.27,151.98,153.21,14526927.0,1.0,1.0,0.0,1.25,0.0082,153.27,91.73
4,2019-12-24,False,daily,157.48,157.71,157.12,157.38,8989150.0,152.06,152.28,151.71,151.97,8989150.0,1.0,1.0,0.0,-0.03,-0.0002,153.04,89.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,2018-01-08,False,daily,88.20,88.58,87.60,88.28,22113049.0,82.50,82.85,81.94,82.57,22113049.0,1.0,1.0,0.0,0.08,0.0010,82.85,56.68
499,2018-01-05,False,daily,87.66,88.41,87.43,88.19,23407110.0,81.99,82.69,81.78,82.49,23407110.0,1.0,1.0,0.0,1.01,0.0124,82.69,56.68
500,2018-01-04,False,daily,86.59,87.66,86.57,87.11,21911974.0,80.99,81.99,80.97,81.48,21911974.0,1.0,1.0,0.0,0.71,0.0088,81.99,56.68
501,2018-01-03,False,daily,86.06,86.51,85.97,86.35,26061439.0,80.49,80.92,80.41,80.77,26061439.0,1.0,1.0,0.0,0.37,0.0047,81.84,56.68
502,2018-01-02,False,daily,86.13,86.31,85.50,85.95,22483797.0,80.56,80.73,79.97,80.39,22483797.0,1.0,1.0,0.0,0.38,0.0048,81.84,56.68

In [15]:
period = 10
price_key = 'close'
start_date = '2018-01-01'
end_date = '2020-01-01'
page_size = 503
next_page = ''

msft_dc = intrinio.SecurityApi().get_security_price_technicals_dc(identifier, period=period, price_key=price_key, start_date=start_date, end_date=end_date, page_size=page_size, next_page=next_page)

In [16]:
dct3=msft_dc.to_dict()
msft_dc=pd.DataFrame.from_dict(dct3['technicals'])
msft_dc

                    date_time  lower_bound  upper_bound
0   2019-12-31 00:00:00+00:00       154.37       158.96
1   2019-12-30 00:00:00+00:00       154.37       158.96
2   2019-12-27 00:00:00+00:00       154.37       158.96
3   2019-12-26 00:00:00+00:00       153.24       158.67
4   2019-12-24 00:00:00+00:00       151.70       157.41
..                        ...          ...          ...
498 2018-01-08 00:00:00+00:00        85.40        88.28
499 2018-01-05 00:00:00+00:00        85.40        88.19
500 2018-01-04 00:00:00+00:00        85.40        87.11
501 2018-01-03 00:00:00+00:00        85.40        86.35
502 2018-01-02 00:00:00+00:00        85.40        86.38

[503 rows x 3 columns]

In [17]:
period = 14
start_date = '2018-01-01'
end_date = '2020-01-01'
page_size = 503
next_page = ''

msft_adx = intrinio.SecurityApi().get_security_price_technicals_adx(identifier, period=period, start_date=start_date, end_date=end_date, page_size=page_size, next_page=next_page)

In [18]:
dct = msft_adx.to_dict()
# dct["stock_prices"]
msft_adx = pd.DataFrame(dct['technicals'])
msft_adx

                    date_time        adx     di_neg     di_pos
0   2019-12-31 00:00:00+00:00  32.478752  19.007710  33.574891
1   2019-12-30 00:00:00+00:00  32.846085  18.870615  35.662951
2   2019-12-27 00:00:00+00:00  33.004041  13.727263  39.633674
3   2019-12-26 00:00:00+00:00  31.808245  14.604186  38.226967
4   2019-12-24 00:00:00+00:00  30.815515  15.539853  35.835382
..                        ...        ...        ...        ...
498 2018-01-08 00:00:00+00:00  25.020183  13.109108  32.397209
499 2018-01-05 00:00:00+00:00  23.684386  14.029336  33.447959
500 2018-01-04 00:00:00+00:00  22.360042  15.364103  31.141325
501 2018-01-03 00:00:00+00:00  21.470387  16.865558  25.605706
502 2018-01-02 00:00:00+00:00  21.538958  17.546203  25.197754

[503 rows x 4 columns]

In [19]:
msft=pd.concat([df1,msft_dc],axis=1)
msft=pd.concat([msft,msft_adx],axis=1)
msft
    
column_set = set()

# Create a list to keep track of columns to drop
columns_to_drop = []

# Iterate through columns
for col in msft.columns:
    # Convert the column data to a tuple to make it hashable
    col_data = tuple(msft[col])

    # Check if this column has the same data as a previous column
    if col_data in column_set:
        columns_to_drop.append(col)
    else:
        # Add the column data to the set
        column_set.add(col_data)

# Drop the duplicate columns
msft = msft.drop(columns=columns_to_drop)
msft

,date,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,...,dividend,change,percent_change,fifty_two_week_high,fifty_two_week_low,lower_bound,upper_bound,adx,di_neg,di_pos
0,2019-12-31,False,daily,156.77,157.77,156.45,157.70,18393383.0,151.38,152.34,...,0.0,0.11,0.0007,154.06,92.49,154.37,158.96,32.478752,19.007710,33.574891
1,2019-12-30,False,daily,158.99,159.02,156.73,157.59,16356720.0,153.52,153.55,...,0.0,-1.32,-0.0086,154.06,92.49,154.37,158.96,32.846085,18.870615,35.662951
2,2019-12-27,False,daily,159.45,159.55,158.22,158.96,18414352.0,153.96,154.06,...,0.0,0.28,0.0018,154.06,92.49,154.37,158.96,33.004041,13.727263,39.633674
3,2019-12-26,False,daily,157.56,158.73,157.40,158.67,14526927.0,152.14,153.27,...,0.0,1.25,0.0082,153.27,91.73,153.24,158.67,31.808245,14.604186,38.226967
4,2019-12-24,False,daily,157.48,157.71,157.12,157.38,8989150.0,152.06,152.28,...,0.0,-0.03,-0.0002,153.04,89.41,151.70,157.41,30.815515,15.539853,35.835382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,2018-01-08,False,daily,88.20,88.58,87.60,88.28,22113049.0,82.50,82.85,...,0.0,0.08,0.0010,82.85,56.68,85.40,88.28,25.020183,13.109108,32.397209
499,2018-01-05,False,daily,87.66,88.41,87.43,88.19,23407110.0,81.99,82.69,...,0.0,1.01,0.0124,82.69,56.68,85.40,88.19,23.684386,14.029336,33.447959
500,2018-01-04,False,daily,86.59,87.66,86.57,87.11,21911974.0,80.99,81.99,...,0.0,0.71,0.0088,81.99,56.68,85.40,87.11,22.360042,15.364103,31.141325
501,2018-01-03,False,daily,86.06,86.51,85.97,86.35,26061439.0,80.49,80.92,...,0.0,0.37,0.0047,81.84,56.68,85.40,86.35,21.470387,16.865558,25.605706
502,2018-01-02,False,daily,86.13,86.31,85.50,85.95,22483797.0,80.56,80.73,...,0.0,0.38,0.0048,81.84,56.68,85.40,86.38,21.538958,17.546203,25.197754

In [20]:
msft_dc_signals = []

for i in range(len(msft)):
    if float(msft['close'][i]) > float(msft['upper_bound'][i]):
        msft_dc_signals.append('Sell')
    elif float(msft['close'][i]) < float(msft['lower_bound'][i]):
        msft_dc_signals.append('Buy')
    else:
        msft_dc_signals.append('Hold')


msft_signals=pd.DataFrame()
msft_signals['dc'] = msft_dc_signals
msft_signals

       dc
0    Hold
1    Hold
2    Hold
3    Hold
4    Hold
..    ...
498  Hold
499  Hold
500  Hold
501  Hold
502  Hold

[503 rows x 1 columns]

In [21]:
adx_signals = []
adx_threshold = 25
di_threshold = 20

for i in range(len(msft)):
    try:
        adx_value = float(msft['adx'][i])
        di_pos_value = float(msft['di_pos'][i])
        di_neg_value = float(msft['di_neg'][i])

        if adx_value > adx_threshold and di_pos_value > di_neg_value and di_pos_value > di_threshold:
            adx_signals.append('Buy')
        elif adx_value > adx_threshold and di_neg_value > di_pos_value and di_neg_value > di_threshold:
            adx_signals.append('Sell')
        else:
            adx_signals.append('Hold')
    except ValueError:
        adx_signals.append('NaN')

# Create a new column 'adx' in your DataFrame and assign the signals
msft_signals['adx'] = adx_signals

# Now, 'adx' column contains the buy/sell signals, and 'NaN' for non-numeric values
# msft_signals['adx'].unique()
msft_signals['adx'].unique()

array(['Buy', 'Hold', 'Sell'], dtype=object)

In [22]:
msft_signals

       dc   adx
0    Hold   Buy
1    Hold   Buy
2    Hold   Buy
3    Hold   Buy
4    Hold   Buy
..    ...   ...
498  Hold   Buy
499  Hold  Hold
500  Hold  Hold
501  Hold  Hold
502  Hold  Hold

[503 rows x 2 columns]

## GOOGLE

In [23]:
identifier = 'GOOGL'
start_date = '2018-01-01'
end_date = '2020-01-01'
frequency = 'daily'
page_size = 503
#page size set to 503 to collect the entire data for 2 years in one attempt. Could have used "next" function to collect the data in multiple rounds.
next_page = ''
googl_data = intrinio.SecurityApi().get_security_stock_prices(identifier, start_date=start_date, end_date=end_date, frequency=frequency, page_size=page_size, next_page=next_page)

In [24]:
dct1 = googl_data.to_dict()
df1 = pd.DataFrame.from_dict(dct1["stock_prices"])
df1

,date,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,adj_low,adj_close,adj_volume,factor,split_ratio,dividend,change,percent_change,fifty_two_week_high,fifty_two_week_low
0,2019-12-31,False,daily,1335.79,1340.66,1332.13,1339.39,976061.0,66.79,67.03,66.61,66.97,19521220.0,1.0,1.0,0.0,-0.02,-0.0002,68.35,51.12
1,2019-12-30,False,daily,1356.81,1357.00,1337.84,1339.71,1000592.0,67.84,67.85,66.89,66.99,20011840.0,1.0,1.0,0.0,-0.75,-0.0110,68.35,51.12
2,2019-12-27,False,daily,1364.00,1367.07,1353.00,1354.64,1160873.0,68.20,68.35,67.65,67.73,23217460.0,1.0,1.0,0.0,-0.39,-0.0057,68.35,51.12
3,2019-12-26,False,daily,1346.55,1363.20,1345.51,1362.47,1183800.0,67.33,68.16,67.28,68.12,23676000.0,1.0,1.0,0.0,0.90,0.0134,68.22,50.35
4,2019-12-24,False,daily,1350.21,1352.01,1344.17,1344.43,673410.0,67.51,67.60,67.21,67.22,13468200.0,1.0,1.0,0.0,-0.31,-0.0046,68.22,49.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,2018-01-08,False,daily,1111.00,1119.16,1110.00,1114.21,1232221.0,55.55,55.96,55.50,55.71,24644420.0,1.0,1.0,0.0,0.20,0.0035,55.96,40.60
499,2018-01-05,False,daily,1103.45,1113.58,1101.80,1110.29,1512526.0,55.17,55.68,55.09,55.51,30250520.0,1.0,1.0,0.0,0.73,0.0133,55.68,40.58
500,2018-01-04,False,daily,1097.09,1104.08,1094.26,1095.76,1302569.0,54.85,55.20,54.71,54.79,26051380.0,1.0,1.0,0.0,0.21,0.0039,55.20,40.30
501,2018-01-03,False,daily,1073.93,1096.10,1073.43,1091.52,1565945.0,53.70,54.81,53.67,54.58,31318900.0,1.0,1.0,0.0,0.92,0.0171,54.81,40.21
502,2018-01-02,False,daily,1053.02,1075.98,1053.02,1073.21,1588268.0,52.65,53.80,52.65,53.66,31765360.0,1.0,1.0,0.0,0.99,0.0188,54.32,39.84

In [25]:
period = 10
price_key = 'close'
start_date = '2018-01-01'
end_date = '2020-01-01'
page_size = 503
next_page = ''

googl_dc = intrinio.SecurityApi().get_security_price_technicals_dc(identifier, period=period, price_key=price_key, start_date=start_date, end_date=end_date, page_size=page_size, next_page=next_page)

In [27]:
dct3=googl_dc.to_dict()
googl_dc=pd.DataFrame.from_dict(dct3['technicals'])
googl_dc

                    date_time  lower_bound  upper_bound
0   2019-12-31 00:00:00+00:00      1339.39      1362.47
1   2019-12-30 00:00:00+00:00      1339.71      1362.47
2   2019-12-27 00:00:00+00:00      1344.43      1362.47
3   2019-12-26 00:00:00+00:00      1344.43      1362.47
4   2019-12-24 00:00:00+00:00      1344.25      1360.70
..                        ...          ...          ...
498 2018-01-08 00:00:00+00:00      1053.40      1114.21
499 2018-01-05 00:00:00+00:00      1053.40      1110.29
500 2018-01-04 00:00:00+00:00      1053.40      1095.76
501 2018-01-03 00:00:00+00:00      1053.40      1091.52
502 2018-01-02 00:00:00+00:00      1053.40      1085.09

[503 rows x 3 columns]

In [28]:
period = 14
start_date = '2018-01-01'
end_date = '2020-01-01'
page_size = 503
next_page = ''

googl_adx = intrinio.SecurityApi().get_security_price_technicals_adx(identifier, period=period, start_date=start_date, end_date=end_date, page_size=page_size, next_page=next_page)

In [29]:
dct = googl_adx.to_dict()
# dct["stock_prices"]
googl_adx = pd.DataFrame(dct['technicals'])
googl_adx

                    date_time        adx     di_neg     di_pos
0   2019-12-31 00:00:00+00:00  32.297585  20.090931  27.291431
1   2019-12-30 00:00:00+00:00  33.613046  18.060931  28.475462
2   2019-12-27 00:00:00+00:00  34.477179  11.983402  31.309374
3   2019-12-26 00:00:00+00:00  33.695409  12.855586  31.586242
4   2019-12-24 00:00:00+00:00  33.045329  14.129500  28.808615
..                        ...        ...        ...        ...
498 2018-01-08 00:00:00+00:00  28.882488  11.674167  38.904614
499 2018-01-05 00:00:00+00:00  26.962857  12.231668  37.853356
500 2018-01-04 00:00:00+00:00  25.101817  13.386480  36.392156
501 2018-01-03 00:00:00+00:00  23.477652  14.267860  34.605710
502 2018-01-02 00:00:00+00:00  22.082611  16.057506  27.921070

[503 rows x 4 columns]

In [31]:
googl=pd.concat([df1,googl_dc],axis=1)
googl=pd.concat([googl,googl_adx],axis=1)
googl
    
column_set = set()

# Create a list to keep track of columns to drop
columns_to_drop = []

# Iterate through columns
for col in googl.columns:
    # Convert the column data to a tuple to make it hashable
    col_data = tuple(googl[col])

    # Check if this column has the same data as a previous column
    if col_data in column_set:
        columns_to_drop.append(col)
    else:
        # Add the column data to the set
        column_set.add(col_data)

# Drop the duplicate columns
googl = googl.drop(columns=columns_to_drop)
googl

,date,intraperiod,frequency,open,high,low,close,volume,adj_open,adj_high,...,factor,change,percent_change,fifty_two_week_high,fifty_two_week_low,lower_bound,upper_bound,adx,di_neg,di_pos
0,2019-12-31,False,daily,1335.79,1340.66,1332.13,1339.39,976061.0,66.79,67.03,...,1.0,-0.02,-0.0002,68.35,51.12,1339.39,1362.47,32.297585,20.090931,27.291431
1,2019-12-30,False,daily,1356.81,1357.00,1337.84,1339.71,1000592.0,67.84,67.85,...,1.0,-0.75,-0.0110,68.35,51.12,1339.71,1362.47,33.613046,18.060931,28.475462
2,2019-12-27,False,daily,1364.00,1367.07,1353.00,1354.64,1160873.0,68.20,68.35,...,1.0,-0.39,-0.0057,68.35,51.12,1344.43,1362.47,34.477179,11.983402,31.309374
3,2019-12-26,False,daily,1346.55,1363.20,1345.51,1362.47,1183800.0,67.33,68.16,...,1.0,0.90,0.0134,68.22,50.35,1344.43,1362.47,33.695409,12.855586,31.586242
4,2019-12-24,False,daily,1350.21,1352.01,1344.17,1344.43,673410.0,67.51,67.60,...,1.0,-0.31,-0.0046,68.22,49.63,1344.25,1360.70,33.045329,14.129500,28.808615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,2018-01-08,False,daily,1111.00,1119.16,1110.00,1114.21,1232221.0,55.55,55.96,...,1.0,0.20,0.0035,55.96,40.60,1053.40,1114.21,28.882488,11.674167,38.904614
499,2018-01-05,False,daily,1103.45,1113.58,1101.80,1110.29,1512526.0,55.17,55.68,...,1.0,0.73,0.0133,55.68,40.58,1053.40,1110.29,26.962857,12.231668,37.853356
500,2018-01-04,False,daily,1097.09,1104.08,1094.26,1095.76,1302569.0,54.85,55.20,...,1.0,0.21,0.0039,55.20,40.30,1053.40,1095.76,25.101817,13.386480,36.392156
501,2018-01-03,False,daily,1073.93,1096.10,1073.43,1091.52,1565945.0,53.70,54.81,...,1.0,0.92,0.0171,54.81,40.21,1053.40,1091.52,23.477652,14.267860,34.605710
502,2018-01-02,False,daily,1053.02,1075.98,1053.02,1073.21,1588268.0,52.65,53.80,...,1.0,0.99,0.0188,54.32,39.84,1053.40,1085.09,22.082611,16.057506,27.921070

In [32]:
googl_dc_signals = []

for i in range(len(googl)):
    if float(googl['close'][i]) > float(googl['upper_bound'][i]):
        googl_dc_signals.append('Sell')
    elif float(googl['close'][i]) < float(googl['lower_bound'][i]):
        googl_dc_signals.append('Buy')
    else:
        googl_dc_signals.append('Hold')


googl_signals=pd.DataFrame()
googl_signals['dc'] = googl_dc_signals
googl_signals

       dc
0    Hold
1    Hold
2    Hold
3    Hold
4    Hold
..    ...
498  Hold
499  Hold
500  Hold
501  Hold
502  Hold

[503 rows x 1 columns]

In [33]:
adx_signals = []
adx_threshold = 25
di_threshold = 20

for i in range(len(googl)):
    try:
        adx_value = float(googl['adx'][i])
        di_pos_value = float(googl['di_pos'][i])
        di_neg_value = float(googl['di_neg'][i])

        if adx_value > adx_threshold and di_pos_value > di_neg_value and di_pos_value > di_threshold:
            adx_signals.append('Buy')
        elif adx_value > adx_threshold and di_neg_value > di_pos_value and di_neg_value > di_threshold:
            adx_signals.append('Sell')
        else:
            adx_signals.append('Hold')
    except ValueError:
        adx_signals.append('NaN')

# Create a new column 'adx' in your DataFrame and assign the signals
googl_signals['adx'] = adx_signals

# Now, 'adx' column contains the buy/sell signals, and 'NaN' for non-numeric values
# googl_signals['adx'].unique()
googl_signals['adx'].unique()

array(['Buy', 'Hold', 'Sell'], dtype=object)

In [34]:
googl_signals

       dc   adx
0    Hold   Buy
1    Hold   Buy
2    Hold   Buy
3    Hold   Buy
4    Hold   Buy
..    ...   ...
498  Hold   Buy
499  Hold   Buy
500  Hold   Buy
501  Hold  Hold
502  Hold  Hold

[503 rows x 2 columns]